html,
body {
  margin: 0;
  background-image: url(https://cdn.pixabay.com/photo/2016/04/12/20/12/ornamental-1325298__340.png);
}

/*
.header {
  width: 100%;
  height: 100vh;
  background-image: url(https://nld.mediacdn.vn/thumb_w/600/Images/Uploaded/Share/2009/03/06/8-9-tl1.jpg),
    url(https://image-us.24h.com.vn/upload/4-2019/images/2019-11-22/1574417084-505-thieu-nu-an-do-co-doi-mat-doi-mau-khoe-vay-cuoi-trieu-thanh-nien-bat-loan-a1-1574392744-width660height495.jpg);
  background-size: 80%;
  background-repeat: no-repeat;
}
*/
