.menu {
  width: 1200px;
  margin: 0 auto;
  background-color: red;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.menu ul li {
  float: left;
  padding: 0px 10px;
}

.menu ul li a {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;
  text-decoration: none;
}

.menu ul li a:hover {
  color: red;
}

.clearfix {
  content: "";
  clear: both;
  display: block;
}
